<section class="content-header">
    <h1>{{ title }}<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
        <li class="active">{{ subTitle }}</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-6 col-xs-12 users">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-monitor"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">电脑用户</span>
                            <span class="info-box-number" id="pc_register">0</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="ion ion-ipad"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">手机用户</span>
                            <span class="info-box-number" id="phone_register">0</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">最近注册用户</h3>
                            <div class="box-tools pull-right"></div>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="user_register" style="height:250px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- user infomation -->

        <div class="col-sm-6 col-xs-12 online">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="ion ion-monitor"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">电脑在线</span>
                            <span class="info-box-number" id="pc_online">0</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="ion ion-ipad"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">手机在线</span>
                            <span class="info-box-number" id="phone_online">0</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">最近在线用户</h3>
                            <div class="box-tools pull-right"></div>
                        </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="user_online" style="height:250px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- online infomation -->

    </div>
</section>
