%% == Core ==
{require_min_otp_vsn, "R17"}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{validate_app_modules, true}.


%% plugins cannot find emqttd.hrl without ".." lib dirs: but this setting will make deps apps collision
%% {lib_dirs, ["../deps", "../apps"]},
%% {sub_dirs, [ "apps/manager", "rel" ]}.

%% reffer to emqttd:
{lib_dirs, ["../"]}.
{sub_dirs, ["rel"]}.


%% == Erlang Compiler ==
%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files in this list.
{erl_first_files, ["sm_protocol"]}.
{erl_opts, [warn_export_all,
            warn_unused_import,
            {i, "include"},
            {src_dirs, ["src"]}]}.


%% == Dependencies ==
%% {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
%% {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
%% Where to put any downloaded dependencies. Default is "desp"
{deps_dir, "deps"}.
{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy", "1.0.3"}},
	{yaws_json2, ".*", {git, "https://github.com/tapsters/yaws-json2.git", {tag, "master"}}},
	{cowboy_session, ".*", {git, "https://github.com/chvanikoff/cowboy_session.git", {branch, "master"}}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
	{bcrypt, ".*", {git, "https://github.com/opscode/erlang-bcrypt.git", "HEAD"}}, 
	{emysql, ".*",{git, "git://github.com/congleetea/emysql.git", {tag, "4.0.1"}}},
	{eredis_pool, ".*",{git, "https://github.com/congleetea/eredis_pool", {tag, "1.0"}}},
        {mongodb, ".*", {git, "https://github.com/comtihon/mongodb-erlang.git", {branch, "master"}}}
       ]}.
