[
{sasl, [
	{sasl_error_logger, {file, "log/sasl-error.log"}},
		{errlog_type, error},
		{error_logger_mf_dir, "log/sasl"},      % Log directory
	{error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
	{error_logger_mf_maxfiles, 5}           % 5 files max
]},

{lager, [
	{colored, true},
	{async_threshold, 1000},
	{error_logger_redirect, false},
	{crash_log, "log/manager_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{formatter_config, [time, " ", pid, " [",severity,"] ", message, "\n"]},
			{file, "log/manager_info.log"},
			{level, info},
			{size, 104857600},
			{date, "$D0"},
			{count, 30}
		]},
		{lager_file_backend, [
			{formatter_config, [time, " ", pid, " [",severity,"] ", message, "\n"]},
			{file, "log/manager_error.log"},
			{level, error},
			{size, 104857600},
			{date, "$D0"},
			{count, 30}
		]}
	]}
]},

{mongodb,[
        {host,  "192.168.31.242"},
        {port, 27017},
        {search_days, 30},
        {database, <<"production">>},
        {collection, <<"device">>}]
},

{manager, [
          %% ranch parameter
          {ranch,  [{port, 8080}]},
          {portnum, 8080},
         {cacertfile_path, "/ssl/cowboy-ca.crt"},
          {certfile_path, "/ssl/server.crt"},
          {keyfile_path, "/ssl/server.key"},
          {cowboy, [{nb_acceptors, 100}, {protocol, [{compress, true}]}]},
        {routes, 
                [ 
		{"/",             {priv_file, manager, "static/index.html"}},  
		{"/assets/[...]", {priv_dir, manager, "static/assets"}},
		{"/images/[...]", {priv_dir, manager, "static/images"}},
		{"/css/[...]",    {priv_dir, manager, "static/css"}},
		{"/js/[...]",     {priv_dir, manager, "static/js"}},
		{"/v1/:action",   {request, my_http_module, my_http_handler}},
		{"/v2/:action",   {request, my_http_proto_module, my_http_proto_handler, sm_protocol_payload}},
		{"/v1/ws",        {websocket, my_websocket_module, sm_protocol_bert}}
	]},
        {sess_redis_index, 1},
        {users_table, pre_ucenter_members},
        {search_days, 30}
]}
].

